# WhatsApp
WHATSAPP_SESSION_PATH=./auth_info

# Anthropic
ANTHROPIC_API_KEY=

# Bitso Sandbox
BITSO_API_KEY=
BITSO_API_SECRET=
BITSO_API_URL=https://api-sandbox.bitso.com/api/v3

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Arbitrum
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
MXNB_CONTRACT_ADDRESS=0xf197ffc28c23e0309b5559e7a166f2c6164c80aa
